* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f6f8fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.material-symbols-outlined {
  font-size: 17px;
  }