.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  background-color: #49d0b0;
  width: 350px;
  padding: 0.3rem;
  height: 75%;
}
.pokemon-header {
  display: flex;
  justify-content: space-between;
}
.pokemon-search {
  color: white;
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  width: 75%;
  text-transform: capitalize;
  text-transform: uppercase;
}
.number {
  color: white;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 600;
}
.pokemon-search:focus {
  outline: none;
}
.poke-image-placeholder {
  display: flex;
  justify-content: center;
}
.pokemon-image {
  height: 150px;
  width: 150px;
  transform: translateY(0.5rem);
}
.top {
  padding: 1rem;
  background: url("/assets/images/pokeball2.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 5px;
  padding-bottom: 1.5rem;
  height: 20vh;
}
.pokemon-stats {
  background-color: white;
  height: 75%;
  border-radius: 3px;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-stats > h5 {
  font-family: 'Teko', sans-serif;
  font-size: 1.3rem;
  margin-top: 5px;
  opacity: .4;
}
.pokemon-about__content {
  display: flex;
  justify-content: space-between;
  width: 35vw;
}

.pokemon-weight,
.pokemon-ruler {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.pokemon-ability {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.pokemon-ability > span,
p {
  font-size: 1rem;
  padding-right: 5px;
  font-family: 'Teko', sans-serif;
}

.pokemon-about {
  display: flex;
  justify-content: space-between;
  width: 35vw;
}
.pokemon-about__description{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
  font-family: 'Teko',sans-serif;

}
.pokemon-about__description > p {
  font-size: 1.3rem;
  opacity: .5;
}
.types {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.type {
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: capitalize;
}
