.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  background-color: #49d0b0;
  width: 300px;
  padding: 0.3rem;
  height: auto;
}
.header-container {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}
.pokemon-header {
  display: flex;
  justify-content: space-between;
}
.pokemon-top {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pokemon-search{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-family: 'Teko',sans-serif;
  font-size: 2rem;
  padding: 10px;
  font-weight: bold;
  box-shadow:  1px 1px 20px 1px rgba(0, 0, 0, 0.24);
  opacity: .4;
}
.pokemon-search:focus{
  outline: none;
}
#number {
  color: white;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 600;
}
#name {
  color: white;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 600;
}
.poke-image-placeholder {
  display: flex;
  justify-content: center;
}
.pokemon-image {
  height: 150px;
  width: 150px;
  transform: translateY(0.5rem);
}
.top {
  padding: 1rem;
  background: url("/assets/images/pokeball2.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 5px;
  padding-bottom: 1.5rem;
  height: 20vh;
}
.pokemon-stats {
  background-color: white;
  height: 75%;
  border-radius: 3px;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#base-stats {
  font-family: "Teko", sans-serif;
  font-size: 1.3rem;
  margin-top: 5px;
  opacity: 0.5;
  color: rgb(73, 208, 176);
  text-transform: uppercase;
}
.pokemon-about__content {
  display: flex;
  justify-content: space-between;
  width: 35vw;
}
.pokemon-weight,
.pokemon-ruler {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.pokemon-ability {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s ease-in-out;
}
.pokemon-ability > span,
p {
  font-size: 0.8rem;
  padding-right: 5px;
  font-family: "Teko", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.pkmn-ability {
  text-transform: uppercase;
}
.pokemon-about {
  display: flex;
  justify-content: space-between;
  width: 16vw;
}
.pokemon-about__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  font-family: "Teko", sans-serif;
  margin-top: 10px;
}
.pokemon-about__description > p {
  font-size: 1rem;
  opacity: 0.7;
}
#pkmn-weight {
  padding-right: 15px;
  margin-left: 10px;
}

.types {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.type {
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: capitalize;
}
.pokemon-logo__ball {
  transform: translate(10px, 5px);
  width: 40px;
  height: 40px;
}
.pokemon-logo__name {
  width: 278px;
  height: 100px;
}
