.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  background-color: #49d0b0;
  width: 350px;
  padding: .3rem;
}
.pokemon-header {
  display: flex;
  justify-content: space-between;
}
.pokemon-search {
  color: white;
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  width: 75%;
  text-transform: capitalize;
  text-transform: uppercase;
}
.number{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    opacity: .3;
}
.pokemon-search:focus {
  outline: none;
}
.poke-image-placeholder {
  display: flex;
  justify-content: center;
}
.pokemon-image{
   height: 150px;
   width: 150px;
   transform: translateY(4rem);
}
.top {
    padding: 1rem;
    background: url('/assets/images/pokeball.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 5px;
}
.pokemon-stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 60%;
    border-radius: 5px;
    padding: 5.5rem;

}
